<h4>Add Note</h4>

<form action="<%= track_note_url(track.id) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <section>
    <textarea name="note[body]"></textarea>
  </section>
  <button>Submit</button>
</form>
