<h2>Signup</h2>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <section>
    <label for="email">Email</label>
    <input type="text" name="user[email]" id="email">
  </section>

  <section>
    <label for="password">Password</label>
    <input type="text" name="user[password]" id="password">
  </section>

  <button>Submit</button>
</form>
