<form action="<%= search_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <section>
    <label for="body">Search</label>
    <input type="text" name="search[body]" id="body">
  </section>

  <section>
    <label for="type">Type</label>
    <select id="type" name="search[type]">
      <option value="All" selected>All</option>
      <option value="Band" selected>Bands</option>
      <option value="Album" selected>Albums</option>
      <option value="Track" selected>Tracks</option>
    </select>
  <button>Search</button>
</form>
