<h2><%= @album.name %></h2>

<%= button_to "Edit", album_url(@album), method: "patch" %>
<%= button_to "Delete", album_url(@album), method: "delete" %>
<%= button_to "Band", band_url(@album.band), method: "get" %>
