<% action = band.persisted? ? band_url(band) : bands_url %>
<% method = band.persisted? ? :patch : :post %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if band %>
    <input type="hidden" name="_method" value="<%= method %>">
  <% end %>
  <section>
    <label for="name">Name</label>
    <input type="text" name="band[name]" id="name" value="<%= band.name %>">
  </section>
  <button>Submit</button>
</form>
